@use "style" as *;
@use "responsify" as *;
#adventures-container{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
}
#adventures-ad{
  text-align: center;
}
#adventures-p{
  text-align: center;
  width: responsify(360, 1024, 318, 400, "px");
  color: $cl-gray-3;
  margin-top: responsify(360, 1024, 20, 30, "px");
  @media only screen and (min-width: 1024px) {
    width: 400px;
    margin-top: 30px;
  }
}
#adventures-cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: responsify(360, 1024, 50, 100, "px");
  row-gap: responsify(360, 1024, 18, 31, "px");
  width: responsify(360, 1024, 318, 984, "px");
  @media only screen and (min-width: 1024px) {
    row-gap: responsify(1024, 1920, 31, 30, "px");
    margin-top: 100px;
    width: responsify(1024, 1920, 984, 1860, "px");
  }
  @media only screen and (min-width: 1920px) {
    row-gap: 30px;
    width: 1860px;
  }
}
.adventures-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.adventures-row-odd{
  column-gap: responsify(360, 1024, 18, 20, "px");
  @media only screen and (min-width: 1024px) {
    column-gap: responsify(1024, 1920, 20, 30, "px");
  }
  @media only screen and (min-width: 1920px) {
    column-gap: 30px;
  }
}
.adventures-row-even{
  column-gap: responsify(360, 1024, 10, 20, "px");
  @media only screen and (min-width: 1024px) {
    column-gap: responsify(1024, 1920, 20, 30, "px");
  }
  @media only screen and (min-width: 1920px) {
    column-gap: 30px;
  }
}
.adventures-card{
  height: responsify(360, 1024, 110, 300, "px");
  border-radius: responsify(360, 1024, 20, 50, "px");
  background-size: cover;
  background-position: center;
  @media only screen and (min-width: 1024px) {
    height: 300px;
    border-radius: 50px;
  }
}
.adventures-card-odd-row{
  width: responsify(360, 1024, 150, 260, "px");
  @media only screen and (min-width: 1024px) {
    width: responsify(1024, 1920, 314.67, 380, "px");
  }
  @media only screen and (min-width: 1920px) {
    width: 443px;
  }
}
.adventures-card-even-row{
  width: responsify(360, 1024, 99.33, 180, "px");
  @media only screen and (min-width: 1024px) {
    width: responsify(1024, 1920, 231, 280, "px");
  }
  @media only screen and (min-width: 1920px) {
    width: 348.87px;
  }
}
#adventures-card-1{
  background-image: url("/adventure-1.webp");
}
#adventures-card-2{
  background-image: url("/adventure-2.webp");
  display: none;
  @media only screen and (min-width: 1920px) {
    display: flex;
  }
}
#adventures-card-3{
  background-image: url("/adventure-3.webp");
  display: none;
  @media only screen and (min-width: 1024px) {
    display: flex;
  }
}
#adventures-card-4{
  background-image: url("/adventure-4.webp");
}
#adventures-card-5{
  background-image: url("/adventure-5.webp");
}
#adventures-card-6{
  background-image: url("/adventure-6.webp");
  display: none;
  @media only screen and (min-width: 1024px) {
    display: flex;
  }
}
#adventures-card-7{
  background-image: url("/adventure-7.webp");
  display: none;
  @media only screen and (min-width: 1920px) {
    display: flex;
  }
}
#adventures-card-8{
  background-image: url("/adventure-8.webp");
}
#adventures-card-9{
  background-image: url("/adventure-9.webp");
}
#adventures-card-10{
  background-image: url("/adventure-10.webp");
}
#adventures-card-11{
  background-image: url("/adventure-11.webp");
}
#adventures-card-12{
  background-image: url("/adventure-12.webp");
  display: none;
  @media only screen and (min-width: 1024px) {
    display: flex;
  }
}
#adventures-card-13{
  background-image: url("/adventure-13.webp");
  background-position: center bottom;
  display: none;
  @media only screen and (min-width: 1920px) {
    display: flex;
  }
}