@use "style" as *;
#maker-container{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 318px;
  @media only screen and (min-width: 1024px) {
    width: 918px;
  }
  @media only screen and (min-width: 1920px) {
    width: 1170px;
  }
}
.maker-ad{
  margin-bottom: 20px;
  @media only screen and (min-width: 1024px) {
    margin-bottom: 30px;
  }
}
.maker-p{
  color: $cl-gray-3;
  text-align: center;
  width: 318px;
  margin-bottom: 40px;
  @media only screen and (min-width: 1024px) {
    width: 400px;
    margin-bottom: 100px;
  }
}
.maker-form{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $cl-white;
  border-radius: 30px;
  padding: 20px 20px 40px 20px;
  row-gap: 20px;
  column-gap: 30px;
  @media only screen and (min-width: 1024px) {
    padding: 60px;
    border-radius: 50px;
    column-gap: 33px;
  }
  @media only screen and (min-width: 1920px) {
    padding: 70px;
    row-gap: 30px;
  }
}
.maker-field{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 278px;
  @media only screen and (min-width: 1024px) {
    width: 382px;
  }
  @media only screen and (min-width: 1920px) {
    width: 498px;
  }
}
.maker-input{
  width: 100%;
  height: 43px;
  background-color: $cl-beige-1;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid $cl-beige-2;
  @media only screen and (min-width: 1024px) {
    height: 68px;
    padding: 20px;
  }
  &:hover {
    cursor: pointer;
    background-color: $cl-beige-2;
  }
  &:focus{
    background-color: $cl-beige-2;
    outline-color: $cl-gray-3;
  }
  &::placeholder{
    color: $cl-gray-3;
  }
}
.maker-line-field{
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-sizing: border-box;
  width: 100%;
}
#maker-com{
  height: 132px;
  @media only screen and (min-width: 1024px) {
    height: 152px;
  }
}
.maker-input-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
}
.maker-bt-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  gap: 10px;
  @media only screen and (min-width: 1024px) {
    gap: 30px;
  }
}
#maker-dest:required:invalid{
  color: $cl-gray-3;
}
#maker-dest {
  appearance: none;
  background-image: url("/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 15px;
  padding-right: 20px;
  @media only screen and (min-width: 1024px) {
    padding-right: 30px;
  }
}
fieldset{
  border-width: 0;
  padding: 0;
  margin: 0;
}
.radio-container{
  display: flex;
  flex-direction: row;
  gap: 30px;
  @media only screen and (min-width: 1024px) {
    gap: 31px;
  }
}
.radio-item{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  @media only screen and (min-width: 1024px) {
    gap: 11px;
  }
}
input{
  margin: 0;
}
input[type="radio"] {
  appearance: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 1.5px solid $cl-black;
  @media only screen and (min-width: 1024px) {
    border: 2px solid $cl-black;
    width: 26px;
    height: 26px;
  }
}
input[type="radio"]:checked {
  background-color: transparent;
  &::before {
    content: "";
    display: block;
    width: 9.23px;
    height: 9.23px;
    border-radius: 50%;
    background-color: $cl-black;
    @media only screen and (min-width: 1024px) {
      width: 12px;
      height: 12px;
    }
  }
}
.maker-check-container{
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  @media only screen and (min-width: 1024px) {
    gap: 11px;
  }
}
input[type="checkbox"] {
  align-self: start;
  appearance: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  border: 1.5px solid $cl-black;
  @media only screen and (min-width: 1024px) {
    border-radius: 5px;
    border: 2px solid $cl-black;
    width: 26px;
    height: 26px;
  }
}
input[type="checkbox"]:checked {
  background-color: transparent;
  &::before {
    content: "";
    display: block;
    width: 9.23px;
    height: 9.23px;
    background-image: url("/checkmark.svg");
    background-repeat: no-repeat;
    background-position: center center;
    @media only screen and (min-width: 1024px) {
      width: 12px;
      height: 12px;
    }
  }
}
.maker-span{
  width: 248px;
  @media only screen and (min-width: 1024px) {
    width: 100%;
  }
}
.maker-bt{
  width: 134px;
  height: 47px;
  @media only screen and (min-width: 1024px) {
    width: 235px;
    height: 58px;
  }
}
#maker-bt-1{
  background-color: $cl-green-4;
  color: $cl-white;
  &:hover{
    background-color: $cl-green-3;
    cursor: pointer;
  }
  &:active{
    background-color: $cl-green-2;
  }
}
#maker-bt-2{
  background-color: $cl-green-1;
  color: $cl-green-4;
  &:hover{
    background-color: $cl-gray-1;
    cursor: pointer;
  }
  &:active{
    background-color: $cl-gray-2;
  }
}