@use "style" as *;
@use "responsify" as *;
#maker-container{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: responsify(360, 1024, 318, 918, "px");
  @media only screen and (min-width: 1024px) {
    width: responsify(1024, 1920, 918, 1170, "px");
  }
  @media only screen and (min-width: 1920px) {
    width: 1170px;
  }
}
.maker-ad{
  margin-bottom: responsify(360, 1024, 20, 30, "px");
  @media only screen and (min-width: 1024px) {
    margin-bottom: 30px;
  }
}
.maker-p{
  color: $cl-gray-3;
  text-align: center;
  width: responsify(360, 1024, 318, 400, "px");
  margin-bottom: responsify(360, 1024, 40, 100, "px");
  @media only screen and (min-width: 1024px) {
    width: 400px;
    margin-bottom: 100px;
  }
}
.maker-form{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $cl-white;
  border-radius: responsify(360, 1024, 30, 50, "px");
  padding: responsify(360, 1024, 20, 60, "px") responsify(360, 1024, 20, 60, "px") responsify(360, 1024, 40, 60, "px") responsify(360, 1024, 20, 60, "px");
  row-gap: responsify(1024, 1920, 20, 30, "px");
  column-gap: responsify(360, 1024, 30, 33, "px");
  @media only screen and (min-width: 1024px) {
    padding: responsify(1024, 1920, 60, 70, "px");
    border-radius: 50px;
    column-gap: 33px;
  }
  @media only screen and (min-width: 1920px) {
    padding: 70px;
    row-gap: 30px;
  }
}
.maker-field{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: responsify(360, 1024, 278, 382, "px");
  @media only screen and (min-width: 1024px) {
    width: responsify(1024, 1920, 382, 498, "px");
  }
  @media only screen and (min-width: 1920px) {
    width: 498px;
  }
}
.maker-input{
  width: 100%;
  background-color: $cl-beige-1;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid $cl-beige-2;
  height: responsify(360, 1024, 43, 68, "px");
  padding: responsify(360, 1024, 10, 20, "px");
  @media only screen and (min-width: 1024px) {
    height: 68px;
    padding: 20px;
  }
  &:hover {
    cursor: pointer;
    background-color: $cl-beige-2;
  }
  &:focus{
    background-color: $cl-beige-2;
    outline-color: $cl-gray-3;
  }
  &::placeholder{
    color: $cl-gray-3;
  }
}
.maker-line-field{
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-sizing: border-box;
  width: 100%;
}
#maker-com{
  height: responsify(360, 1024, 132, 152, "px");
  resize: none;
  @media only screen and (min-width: 1024px) {
    height: 152px;
  }
}
.maker-input-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
}
.maker-bt-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  gap: responsify(360, 1024, 10, 30, "px");
  @media only screen and (min-width: 1024px) {
    gap: 30px;
  }
}
#maker-dest:required:invalid{
  color: $cl-gray-3;
}
option:enabled{
  color: $cl-black;
}
#maker-dest {
  appearance: none;
  background-image: url("/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 15px;
  padding-right: responsify(360, 1024, 20, 30, "px");
  @media only screen and (min-width: 1024px) {
    padding-right: 30px;
  }
}
fieldset{
  border-width: 0;
  padding: 0;
  margin: 0;
}
.radio-container{
  display: flex;
  flex-direction: row;
  gap: responsify(360, 1024, 30, 31, "px");
  @media only screen and (min-width: 1024px) {
    gap: 31px;
  }
}
.radio-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: responsify(360, 1024, 10, 11, "px");
  @media only screen and (min-width: 1024px) {
    gap: 11px;
  }
}
input{
  margin: 0;
}
input[type="date"]{
  color: $cl-gray-3;
}
input[type="radio"] {
  appearance: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  border: responsify(360, 1024, 1.5, 2, "px") solid $cl-black;
  width: responsify(360, 1024, 20, 26, "px");
  height: responsify(360, 1024, 20, 26, "px");
  @media only screen and (min-width: 1024px) {
    border: 2px solid $cl-black;
    width: 26px;
    height: 26px;
  }
}
input[type="radio"]:checked {
  background-color: transparent;
  &::before {
    content: "";
    display: block;
    width: responsify(360, 1024, 9.23, 12, "px");
    height: responsify(360, 1024, 9.23, 12, "px");
    border-radius: 50%;
    background-color: $cl-black;
    @media only screen and (min-width: 1024px) {
      width: 12px;
      height: 12px;
    }
  }
}
.maker-check-container{
  display: flex;
  flex-direction: row;
  gap: responsify(360, 1024, 10, 11, "px");
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  @media only screen and (min-width: 1024px) {
    gap: 11px;
  }
}
input[type="checkbox"] {
  align-self: start;
  appearance: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border-radius: responsify(360, 1024, 4, 5, "px");
  width: responsify(360, 1024, 20, 26, "px");
  height: responsify(360, 1024, 20, 26, "px");
  border: responsify(360, 1024, 1.5, 2, "px") solid $cl-black;
  @media only screen and (min-width: 1024px) {
    border-radius: 5px;
    border: 2px solid $cl-black;
    width: 26px;
    height: 26px;
  }
}
input[type="checkbox"]:checked {
  background-color: transparent;
  &::before {
    content: "";
    display: block;
    width: responsify(360, 1024, 9.23, 12, "px");
    height: responsify(360, 1024, 9.23, 12, "px");
    background-image: url("/checkmark.svg");
    background-repeat: no-repeat;
    background-position: center center;
    @media only screen and (min-width: 1024px) {
      width: 12px;
      height: 12px;
    }
  }
}
.maker-span{
  width: 248px;
  @media only screen and (min-width: 1024px) {
    width: 100%;
  }
}
#maker-license-t{
  color: $cl-gray-3;
}
#maker-license-l{
  color: $cl-black;
  &:hover{
    cursor: pointer;
    text-decoration: underline;
    text-underline-color: $cl-black;
    text-underline-style: single;
    text-underline-position: under;
    text-underline-offset: 2px;
  }
  &:active{
    color: $cl-green-4;
    cursor: pointer;
    text-decoration: underline;
    text-underline-color: $cl-green-4;
    text-underline-style: single;
    text-underline-position: under;
    text-underline-offset: 2px;
  }
}
.maker-bt{
  width: responsify(360, 1024, 134, 235, "px");
  height: responsify(360, 1024, 47, 58, "px");
  @media only screen and (min-width: 1024px) {
    width: 235px;
    height: 58px;
  }
}
#maker-bt-1{
  background-color: $cl-green-4;
  color: $cl-white;
  &:hover{
    background-color: $cl-green-3;
    cursor: pointer;
  }
  &:active{
    background-color: $cl-green-2;
  }
}
#maker-bt-2{
  background-color: $cl-green-1;
  color: $cl-green-4;
  &:hover{
    background-color: $cl-gray-1;
    cursor: pointer;
  }
  &:active{
    background-color: $cl-gray-2;
  }
}