@import "style";

nav{
  width: 100%;
  height: 88px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  //backdrop-filter: blur(10px);
}
#observe-point{
  height: 450px;
}
#nav-menu{
  display: flex;
  flex-direction: row;
  width: 320px;
  @media only screen and (min-width: 1024px) {
    width: 910px;
  }
  @media only screen and (min-width: 1920px) {
    width: 1168px;
  }
  justify-content: space-between;
  align-items: center;
}
#nav-logo{
  width: 133px;
  height: 22px;
  @media only screen and (min-width: 1024px) {
    width:181.84px;
    height:30.24px;
  }
}
#nav-links{
  display: none;
  @media only screen and (min-width: 1024px) {
    display: flex;
  }
  flex-direction: row;
  width: 408px;
  @media only screen and (min-width: 1920px) {

    width: 468px;

  }
  justify-content: space-between;
}
#phone-number{
  color: $cl-white;
}
nav-link{
  color: $cl-white;
}
nav-link:hover{
  @media only screen and (min-width: 1024px) {
    cursor: pointer;
    text-decoration: underline;
    text-underline-color: $cl-white;
    text-underline-style: single;
    text-underline-position: under;
    text-underline-offset: 2px;
  }
}
