@use "style" as *;
@use "responsify" as *;
#reviews-container{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: responsify(360, 1024, 318, 918, "px");
  @media only screen and (min-width: 1024px) {
    width: responsify(1024, 1920, 918, 1170, "px");
  }
  @media only screen and (min-width: 1920px) {
    width: 1170px;
  }
}
#reviews-ad{
  text-align: center;
  width: responsify(360, 1024, 318, 529, "px");
  @media only screen and (min-width: 1024px) {
    width: 529px;
  }
}
#reviews-p{
  text-align: center;
  width: responsify(360, 1024, 318, 400, "px");
  color: $cl-gray-3;
  margin-top: responsify(360, 1024, 20, 30, "px");
  @media only screen and (min-width: 1024px) {
    width: 400px;
    margin-top: 30px;
  }
}
#reviews-cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: responsify(360, 1024, 18, 30, "px");
  margin-top: responsify(360, 1024, 50, 100, "px");
  @media only screen and (min-width: 1024px) {
    margin-top: 100px;
    gap: 30px;
  }
}
.reviews-card{
  box-sizing: border-box;
  display: flex;
  background-color: $cl-beige-2;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: responsify(360, 1024, 20, 50, "px");
  padding: responsify(360, 1024, 20, 40, "px");
  width: responsify(360, 1024, 318, 444, "px");
  height: max-content;
  @media only screen and (min-width: 1024px) {
    width: responsify(1024, 1920, 444, 570, "px");
    height: responsify(1024, 1920, 841, 673, "px");
    border-radius: 50px;
    padding: 40px;
  }
  @media only screen and (min-width: 1920px) {
    width: 570px;
    height: 673px;
  }
}
.reviews-author{
  height: responsify(360, 1024, 115, 145, "px");
  width: 100%;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  @media only screen and (min-width: 1024px) {
    height: 145px;
  }
}
.reviews-name{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.reviews-author-tour{
  color: $cl-gray-3;
}
.reviews-photo{
  background-size: cover;
  background-position: center top;
  width: 75px;
  height: 75px;
  border-radius: 100%;
}
#reviews-author-1{background-image: url("/review photo-1.webp")}
#reviews-author-2{background-image: url("/review photo-2.webp")}