@use "style" as *;
@use "responsify" as *;
.splash{
  position: absolute;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: -2;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), linear-gradient(180deg, rgba(0,0,0,0.4), rgba(0,0,0,0)), url("/splash.webp");
}

.splash-ad{
  margin-top: 88px;
  height: calc(100vh - 88px);
  gap: responsify(320, 1024, 40, 50, "px");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $cl-white;
  text-align: center;
  width: 310px;
  @media only screen and (min-width: 1024px) {
    gap: 50px;
    width: responsify(1024, 1920, 310, 914, "px");
  }
  @media only screen and (min-width: 1024px) {
    width: 914px;
  }

}
#splash-t1{

}
#splash-t2{
  width: responsify(360, 1024, 310, 442, "px");
  @media only screen and (min-width: 1024px) {
    width: responsify(1024, 1920, 442, 562, "px");
  }
  @media only screen and (min-width: 1920px) {
    width: 562px;
  }
}
#splash-bt{
  background-color: $cl-white;
  color: $cl-black;
  &:hover{
    cursor: pointer;
  }
}
@media only screen and (min-width: 1024px) {
  #splash-bt:hover{
    background-color: $cl-orange-2;
    color: $cl-white
  }
  #splash-bt:active{
    background-color: $cl-orange-1;
    color: $cl-black
  }
}