@use "style" as *;
@use "responsify" as *;
#stories-container{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: responsify(360, 1024, 318, 918, "px");
  @media only screen and (min-width: 1024px) {
    width: responsify(1024, 1920, 918, 1170, "px");
  }
  @media only screen and (min-width: 1920px) {
    width: 1170px;
  }
}
#stories-ad{
  text-align: center;
}
#stories-p{
  text-align: center;
  color: $cl-gray-3;
  width: responsify(360, 1024, 318, 400, "px");
  margin-top: responsify(360, 1024, 20, 30, "px");
  @media only screen and (min-width: 1024px) {
    width: 400px;
    margin-top: 30px;
  }
}
.stories-cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: responsify(360, 1024, 20, 50, "px");
  margin-top: responsify(360, 1024, 50, 100, "px");
  @media only screen and (min-width: 1024px) {
    margin-top: 100px;
    gap: 50px;
  }
}
.stories-card{
  display: flex;
  width: 100%;
  box-sizing: border-box;
  border-radius: responsify(360, 1024, 20, 50, "px");
  height: responsify(360, 1024, 455, 567, "px");
  overflow: clip;
  &:hover{
    cursor: pointer;
  }
  @media only screen and (min-width: 1024px) {
    border-radius: 50px;
    height: 567px;
  }
}
.stories-back{
  z-index: -1;
  width: inherit;
  height: inherit;
  background-size: cover;
  background-position: center;
  scale: 1;
  transition: scale 0.3s ease-in-out;
  .stories-card:hover &{
    scale: 1.2;
  }
}
.stories-card-content{
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  box-sizing: border-box;
  width: responsify(360, 1024, 318, 918, "px");
  height: responsify(360, 1024, 455, 567, "px");
  padding: responsify(360, 1024, 30, 60, "px");
  @media only screen and (min-width: 1024px) {
    padding: 60px;
    height: 567px;
    width: responsify(1024, 1920, 918, 1170, "px");
  }
  @media only screen and (min-width: 1920px) {
    width: 1170px;
  }
}
.stories-card-h{
  color: $cl-white;
  width: responsify(360, 1024, 140, 554, "px");
  @media only screen and (min-width: 1024px) {
    width: 554px;
  }
}
.stories-card-p{
  color: $cl-white;
  width: responsify(360, 1024, 263, 554, "px");
  margin-top: responsify(360, 1024, 20, 37, "px");
  @media only screen and (min-width: 1024px) {
    width: 554px;
    margin-top: 37px;
  }
}
.stories-card-actions{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
.stories-bt{
  align-self: start;
  color: $cl-white;
  border-radius: 50px;
  @media only screen and (min-width: 1024px) {
    padding: 7px 20px;
  }
}
.stories-bt::after{
  margin-left: 15px;
  content: url("/arrow-white.svg");
}
.stories-card:hover .stories-bt{
  @media only screen and (min-width: 1024px) {
    cursor: pointer;
    background-color: $cl-green-4;
  }
}
.stories-card:active .stories-bt{
  @media only screen and (min-width: 1024px) {
    background-color: $cl-orange-2;
  }
}
.stories-links{
  display: none;
  flex-direction: row;
  gap: 35px;
  @media only screen and (min-width: 1024px) {
    display: flex;
  }
}
.stories-link{
  color: $cl-white
}
.stories-link:hover{
  cursor: pointer;
  text-decoration: underline;
  text-underline-color: $cl-white;
  text-underline-style: single;
  text-underline-position: under;
  text-underline-offset: 2px;
}
.stories-link:active{
  cursor: pointer;
  color: #EFA501;
  text-decoration: underline;
  text-underline-color: $cl-orange-2;
  text-underline-style: single;
  text-underline-position: under;
  text-underline-offset: 2px;
}
#stories-card-1{background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%), url("/story-1.webp")}
#stories-card-2{background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%), url("/story-2.webp")}
#stories-card-3{background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%), url("/story-3.webp")}